#title
{
	background-color: #043984; 
}

#title1, #title2 
{
	color: #42eef4; 
	font-family: droid serif ;

}

#input
{
	background-color: #FFD700
}

#p
{
	color: red;
	font-family: algerian;
}