#redstuff{
	
color: crimson; 
font-family: arial;

}

#bluestuff{
	
color: dodgerblue;
font-family: algerian

}

#div1s	background-color: black;
}

#div2{
	background-color: darkred;
}
