body
{
	background-color: yellow;
}


h1
{
	color: rgb(68, 65, 244);
	text-align: center;
	font-family: Algerian;
	font-size: 50px;
}

h2
{
	color: rgb(125, 66, 244);
	text-align: center;
	font-family: Cambria Math;
	font-size: 35px;
}

p
{
	color: green;
	text-align: center;
	font-family: Times New Roman;
	font-size: 20px;
}

i
{
	color: rgb(255, 0, 0);
	
	font-size: 400px;
}

